{% extends 'admin/layout.html' %}
{% load static %}
{% block content %}

<div class="container-fluid">
  <div class="container-fluid">
    <div class="card">
      <div class="card-body">
        <div class="row">

          <div class="col-md-12 mt-3">
            {% if messages %}
            {% for message in messages %}
            <div class="alert alert-{{message.tags}}" role="alert">
              {{message }}
            </div>

            {% endfor %}
            {% endif %}
            <div class="d-flex justify-content-end">
              <a href="/admin/add-category" class="btn btn-success">
                Add New Category
              </a>
            </div>
            <div class="table-responsive">
              <h3>Categories</h3>
              <table class="table">
                <thead>
                  <tr>
                    <th>Sno</th>
                    <th>Category Image</th>
                    <th>Category Name</th>
                    <th>Category Status</th>
                    <th class="text-center">Active</th>
                  </tr>
                </thead>
                <tbody>
                  {% for category in categories %}

                  <tr>
                    <td>{{forloop.counter}}</td>
                    <td><img src="{{category.image}}" alt="{{ category.image }}" style="width: 100px;"></td>
                    <td>{{ category.name }}</td>
                    <td>
                      {% if category.status == True %}
                      <span class="badge text-white btn btn-info">Active</span>
                      {% else %}
                      <span class="badge text-white btn btn-danger">InActive</span>

                      {%endif%}
                    </td>
                    <td class="text-center">
                      <a href="edit-category/{{ category.id }}" class="btn btn-info mx-3">Edit</a>
                      <a href="delete-category/{{ category.id }}" class="btn btn-danger">Delete</a>

                    </td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>



        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}