{% extends 'admin/layout.html' %}
{% load static %}
{% block content %}

<div class="container-fluid">
  <div class="container-fluid">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title fw-semibold mb-4">Add New Slider</h5>
        <div class="card">
          <div class="card-body">
            <form method="POST" action="/admin/update-slider" enctype="multipart/form-data">
              {% csrf_token %}
              <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label"> Slider Title</label>
                <input type="text" name="title" required value="{{ slider.title }}" class="form-control"
                  id="exampleInputEmail1" aria-describedby="emailHelp">
                <input type="hidden" name="id" value="{{ slider.id }}">
              </div>

              <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Short Description</label>

                <textarea name="description" id="" required cols="30" class="form-control"
                  placeholder="Add Product Description" rows="6">{{ slider.title }}</textarea>

              </div>


              <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Status</label>
                <select class="form-control" name="status" id="">
                  <option value="">Select Status</option>
                  <option value="1">Active</option>
                  <option value="0">InActive</option>
                </select>
              </div>

              <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Slider Image</label>
                <input type="file" name="slider_image" class="form-control" id="exampleInputEmail1"
                  aria-describedby="emailHelp">
              </div>








              <button type="submit" class="btn btn-primary">Submit</button>
            </form>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
{% endblock content %}