{% extends 'admin/layout.html' %}
{% load static %}
{% block content %}

<div class="container-fluid">
  <div class="container-fluid">
    <div class="card">
      <div class="card-body">
        <div class="row">

          {% for product in products %}
          <div class="col-md-4">
            <h5 class="card-title fw-semibold mb-4 text-center">Wireless Earphone</h5>
            <div class="card">
              <img style="height: 340px;" src="{{product.fearured_image}}" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">{{ product.name|slice:":70" }}</h5>
                <p class="card-text">{{ product.description|slice:":70" }}.</p>
                <a href="#" class="btn btn-primary w-100">View Detailed</a>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}