{% extends 'admin/layout.html' %}
{% load static %}
{% block content %}

<div class="container-fluid">
  <div class="container-fluid">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-md-4">
            <h5 class="card-title fw-semibold mb-4 text-center">Wireless Earphone</h5>
            <div class="card">
              <img style="height: 340px;" src="{% static 'assets/images/products/s4.jpg' %}" class="card-img-top"
                alt="...">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                  the
                  card's content.</p>
                <a href="#" class="btn btn-primary w-100">View Detailed</a>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <h5 class="card-title fw-semibold mb-4 text-center">Man Watch</h5>
            <div class="card">
              <img style="height: 340px;" src="{% static 'images/product-06.jpg' %}" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                  the
                  card's content.</p>
                <a href="#" class="btn btn-primary w-100">View Detailed</a>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <h5 class="card-title fw-semibold mb-4 text-center">Man Shirts</h5>
            <div class="card">
              <img style="height: 340px;" src="{% static 'images/product-detail-03.jpg' %}" class="card-img-top"
                alt="...">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                  the
                  card's content.</p>
                <a href="#" class="btn btn-primary w-100">View Detailed</a>
              </div>
            </div>
          </div>

          <div class="col-md-4 mt-3">
            <h5 class="card-title fw-semibold mb-4 text-center">Women Winter Jacket </h5>
            <div class="card">
              <img style="height: 340px;" src="{% static 'images/product-04.jpg' %}" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                  the
                  card's content.</p>
                <a href="#" class="btn btn-primary w-100">View Detailed</a>
              </div>
            </div>
          </div>

          <div class="col-md-4 mt-3">
            <h5 class="card-title fw-semibold mb-4 text-center">Cap</h5>
            <div class="card">
              <img style="height: 340px;" src="{% static 'images/banner-03.jpg' %}" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                  the
                  card's content.</p>
                <a href="#" class="btn btn-primary w-100">View Detailed</a>
              </div>
            </div>
          </div>


          <div class="col-md-4 mt-3">
            <h5 class="card-title fw-semibold mb-4 text-center">Women Shoes</h5>
            <div class="card">
              <img style="height: 340px;" src="{% static 'images/gallery-08.jpg' %}" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                  the
                  card's content.</p>
                <a href="#" class="btn btn-primary w-100">View Detailed</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}