{% extends 'admin/layout.html' %}
{% load static %}
{% block content %}

<div class="container-fluid">
  <div class="container-fluid">
    <div class="card">
      <div class="card-body">
        <div class="row">

          <div class="col-md-12 mt-3">
            {% if messages %}
            {% for message in messages %}
            <div class="alert alert-{{message.tags}}" role="alert">
              {{message }}
            </div>

            {% endfor %}
            {% endif %}
            <div class="d-flex justify-content-end">
              <a href="/admin/add-product" class="btn btn-success">
                Add Product
              </a>
            </div>
            <div class="table-responsive">
              <h3>Products</h3>
              <table class="table">
                <thead>
                  <tr>
                    <th>Sno</th>
                    <th>Product Image</th>
                    <th>Product Title</th>
                    <th>Product Description</th>
                    <th>Product Status</th>
                    <th style="width: 300px; text-align: end;">Active</th>
                  </tr>
                </thead>

                <tbody>


                  {% for product in products %}
                  <tr>

                    <td>{{forloop.counter}}</td>
                    <td><img src="{{product.fearured_image}}" alt="{{product.fearured_image}}" style="width: 100px;"
                        srcset=""></td>
                    <td>{{ product.name|slice:":100" }}</td>
                    <td> {{ product.description|slice:":100" }}</td>
                    <td>
                      {% if product.status == True %}
                      <span class="badge text-white btn btn-info">Active</span>

                      {% else %}

                      <span class="badge text-white btn btn-danger">InActive</span>
                      {% endif %}
                    </td>
                    <td style="width: 300px; text-align: end;">
                      <a href="edit-product/{{ product.id }}" class="btn btn-info mx-3">Edit</a>
                      <a href="delete-product/{{ product.id }}" class="btn btn-danger">Delete</a>

                    </td>

                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>



        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}